health-ri-metadata/

# ignore mac metadata
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Word temporary files
~$*

# Visual paradigm temporary files
*.vpp.bak_*

# Other temporary files
*.tmp
